<div class="container">
  <div class="row">
    <%= render 'books/info', books: @books %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <% @user.each do |user| %>
           <table class="table">
              <thead>
                 <tr>
                  <th>Image</th>
                  <th>name</th>
                  <th></th>u
                 </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td><%= user.name %></td>
                      <td><%= link_to "Show", user_path %></td>
                  </tr>
              </tbody>
           </table>
      <% end %>
    </div>
  </div>
</div>
