<div class="container">
  <div class="row">
    <%= render 'books/info', books: @books %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <% @book.each do |book| %>
          <table class="table">
           <tr>
            <th></th>
            <th>Title</th>
            <th><%= book.title %></th>
           </tr>
           <tr>
            <th>Opinion</th>
            <th><%= book.body %></th>
           </tr>
          </table>
      
      <% end %>

    </div>
  </div>
</div>
