<div class="container">
  <div class="row">
    <%= render 'books/info', books: @books %>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

         <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Opinion</th>
                </tr>
            </thead>

           <% @book.each do |book| %>

            <tbody>
                <tr>
                    <td></td>
                    <td><%=link_to book.title, "/books/#{book.id}" %></td>
                    <td><%= book.body %></td>
                </tr>
            </tbody>
           <% end %>
         </table>

    </div>
  </div>
</div>


